In [5]:
#Ques 1

string_variable = "Hello , World!"

In [6]:
list_variable = [1 , 2 , 3 , 4 , 5]

In [7]:
float_variable = 3.124

In [8]:
tuple_variable = (10 , 20 , 30)

In [9]:
#Ques 2

In [10]:
#THe data type of var1 is string

SyntaxError: invalid syntax (2171289290.py, line 1)

In [11]:
# The data type of var2 is string

In [12]:
# The data type of var3 is list

In [13]:
# The data type of var4 is float

In [14]:
#Ques 3

In [15]:
result = 10/3
print(result)

3.3333333333333335

In [16]:
remainder = 10 % 3
print(remainder)

1

In [18]:
result = 10 // 3
print(result)

3

In [20]:
result = 10 ** 3
print(result)

1000

In [21]:
#Ques 4

In [22]:
my_list = [1 , 'Hello' , 3.14 , True , [1 , 2] , (5 , 6) , {'key' : 'value'} , None , 42 , 'World']

for item in my_list:
    print(type(item))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>
<class 'int'>
<class 'str'>

In [23]:
#Ques 5
A = 36
B = 3
count = 0

while A % B == 0:
    A = A // B
    count += 1
print(f"A is divisible by B {count} times")

A is divisible by B 2 times

In [25]:
#Ques 6

my_list = [i for i in range(1 , 26)]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")   
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [26]:
#Ques 7
my_list = [1 , 2 , 3]
my_list[0] = 10 #Modifying the list
print(my_list)

[10, 2, 3]

In [28]:
my_string = "Hello"
# Attempting to modify the string will result in an error
# my_string[0] = 'h' # This will result in an TypeError

In [29]:
x = 5

y = 3

x = y

y = x + 2

print(x, y)

3 5

In [30]:
What is the output of the following code?

a = 10

b = 5

c = a // b

d = a % b

print(c, d)

Object `code` not found.
2 0

In [31]:
x = 5

y = 10

x = y

y = 20

print(x)

10

In [32]:
x = 5

y = 10

if x > y:

    print("x is greater")

else:

    print("y is greater")

y is greater

In [33]:
sum = 0

for i in range(1, 6):

    sum += i

print(sum)

15

In [34]:
count = 0

while count < 5:

    print(count)

    count += 1

0
1
2
3
4

In [35]:
x = 10

if x > 5:

    print("x is greater than 5")

elif x == 5:

    print("x is equal to 5")

else:

    print("x is less than 5")

x is greater than 5

In [36]:
my_list = [1, 2, 3]

new_list = my_list

new_list.append(4)

print(my_list)

[1, 2, 3, 4]